<h1> Buscando: {{terming}}</h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="arrHeroeSearch.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
    No existen resultados para el término: {{terming}}
    </div>
  </div>


</div>

<div class="container main-container" >

  <div class="card-columns" *ngFor = "let foo of arrHeroeSearch; let idx = index">

  <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [i]="foo" [index]="foo.idx"></app-heroe-tarjeta>

  </div>
</div>
