<h1> Buscando: {{terming}}</h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="arrHeroeSearch.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
    No existen resultados para el término: {{terming}}
    </div>
  </div>


</div>

<div class="container main-container" >

  <div class="card-columns" *ngFor = "let i of arrHeroeSearch; let idx = index">

    <div class="card animated fadeIn fast" >
      <img class="card-img-top" [src]="i.img" [alt]="i.nombre">
      <div class="card-body">
        <h5 class="card-title">{{i.nombre}}</h5>
        <p class="card-text truncate">{{i.bio}}</p>
        <p class="card-text"><small class="text-muted">{{i.aparicion}}</small></p>

        <div class="d-grid gap-2">
          <button (click)="verHeroe(idx)"
                  class="btn rounded" type="button">
            Conoce más...
          </button>
        </div>

      </div>
    </div>

  </div>
</div>
